/* Your CSS code here. */
.flip {
    width: 300px; /* set desired width */
    height: 400px; /* set desired height */
    background-image: url('https://images.pexels.com/photos/6785279/pexels-photo-6785279.jpeg');
    background-size: cover;
    transition: background-image 0.3s ease;
  }

  .flip:hover {
    background-image: url('https://live.staticflickr.com/8138/29099429912_0659caf55b_b.jpg');
  }